.red{
    height:43px;
    overflow: hidden;
    background-color: red;
    z-index: 1000;
}
.yellow{
    width: 300px;
    height:200px;
    background-color: yellow;
}
.red:hover{
    overflow: visible;
}